{% extends 'layout.html' %}

{% block title %} Farming Techniques - AgriInnovative {% endblock %}

{% block styles %}  <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/farmtech_styles.css') }}" > {% endblock %}

{% block body %}

      <h3 style="color: white;letter-spacing: 2px;font-weight: 200;margin-left: 2vw;">ITEM1</h3>
      <br>
      <div class="container-fluid" id="vidtab">
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/Ud_hP2raTmk?si=vd743OlbT_q1tAO6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="container" id="vidin"></div>
        <div class="container" id="vidin"></div>
        <div class="container" id="vidin"></div>
      </div>
      <div class="buttoncon"><a href="https://chat.openai.com/"><button class="button-17" role="button">View More</button></a></div>

      <br>
      <h3 style="color: white;letter-spacing: 2px;font-weight: 200;margin-left: 2vw;">ITEM1</h3>
      <br>
      <div class="container-fluid" id="vidtab">
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/Ud_hP2raTmk?si=vd743OlbT_q1tAO6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/6Jr4lNiK6XE?si=juIwjNmltqwCygAp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/XQqMScMAyFU?si=3Cl8vL6jm35HDudt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/XQqMScMAyFU?si=3Cl8vL6jm35HDudt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
      </div>
      <div class="buttoncon"><a href="https://chat.openai.com/"><button class="button-17" role="button">View More</button></a></div>

      <br>
      <h3 style="color: white;letter-spacing: 2px;font-weight: 200;margin-left: 2vw;">ITEM1</h3>
      <br>
      <div class="container-fluid" id="vidtab">
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/Ud_hP2raTmk?si=vd743OlbT_q1tAO6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/XQqMScMAyFU?si=3Cl8vL6jm35HDudt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/6Jr4lNiK6XE?si=juIwjNmltqwCygAp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/XQqMScMAyFU?si=3Cl8vL6jm35HDudt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
      </div>
      <div class="buttoncon"><a href="https://chat.openai.com/"><button class="button-17" role="button">View More</button></a></div>
      <br>
      <h3 style="color: white;letter-spacing: 2px;font-weight: 200;margin-left: 2vw;">ITEM1</h3>
      <br>
      <div class="container-fluid" id="vidtab">
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/Ud_hP2raTmk?si=vd743OlbT_q1tAO6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/6Jr4lNiK6XE?si=juIwjNmltqwCygAp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/XQqMScMAyFU?si=3Cl8vL6jm35HDudt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="container" id="vidin"><iframe width="560" height="315" src="https://www.youtube.com/embed/XQqMScMAyFU?si=3Cl8vL6jm35HDudt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
      </div>
      <div class="buttoncon"><a href="https://chat.openai.com/"><button class="button-17" role="button">View More</button></a></div>

      <br>
      <br>
      <br>


    
      {% endblock %}