{% extends 'layout.html' %}

{% block title %} News - AgriInnovative {% endblock %}

{% block styles %}  <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/news_styles.css') }}" > {% endblock %}

{% block body %}


      <div class="ticker-wrapper-h">
        <div class="heading"><b>Just Now</b></div>
        <ul class="news-ticker-h">
          <li><a href="">What is Lorem Ipsum?</a></li>
          <li><a href="">Why do we use it?</a></li>
          <li><a href="">Where does it come from?</a></li>
          <li><a href="">Where can I get some?</a></li>
        </ul>
      </div>
      <br>

      <h3 style="margin-left: 25%;font-weight: 400;color: white;">Agriculture</h3>
      <div class="newsbody">
          <div class="newsimg"><img src="https://images.pexels.com/photos/974314/pexels-photo-974314.jpeg?auto=compress&cs=tinysrgb&w=600" style="height: 100%;width: 100%;" alt=""></div> 
          <div class="newspara"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia deserunt a beatae, eaque illo et nemo quasi totam ab accusamus magni accusantium earum rem laborum facere quae, dolorem ex.</p>
          <a href=""><button class="newsbtn">View more</button></a>
          </div>
      </div>
      <br>
      <h3 style="margin-left: 25%;font-weight: 400;color: white;">Agriculture</h3>
      <div class="newsbody">
          <div class="newsimg"><img src="https://images.pexels.com/photos/974314/pexels-photo-974314.jpeg?auto=compress&cs=tinysrgb&w=600" style="height: 100%;width: 100%;" alt=""></div> 
          <div class="newspara"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia deserunt a beatae, eaque illo et nemo quasi totam ab accusamus magni accusantium earum rem laborum facere quae, dolorem ex.</p>
          <a href=""><button class="newsbtn">View more</button></a>
          </div>
      </div>
      <br>
      <h3 style="margin-left: 25%;font-weight: 400;color: white;">Agriculture</h3>
      <div class="newsbody">
          <div class="newsimg"><img src="https://images.pexels.com/photos/974314/pexels-photo-974314.jpeg?auto=compress&cs=tinysrgb&w=600" style="height: 100%;width: 100%;" alt=""></div> 
          <div class="newspara"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia deserunt a beatae, eaque illo et nemo quasi totam ab accusamus magni accusantium earum rem laborum facere quae, dolorem ex.</p>
          <a href=""><button class="newsbtn">View more</button></a>
          </div>
      </div>
      <br>
      <h3 style="margin-left: 25%;font-weight: 400;color: white;">Agriculture</h3>
      <div class="newsbody">
          <div class="newsimg"><img src="https://images.pexels.com/photos/974314/pexels-photo-974314.jpeg?auto=compress&cs=tinysrgb&w=600" style="height: 100%;width: 100%;" alt=""></div> 
          <div class="newspara"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia deserunt a beatae, eaque illo et nemo quasi totam ab accusamus magni accusantium earum rem laborum facere quae, dolorem ex.</p>
          <a href=""><button class="newsbtn">View more</button></a>
          </div>
      </div>

      <br>
      <h3 style="margin-left: 25%;font-weight: 400;color: white;">Agriculture</h3>
      <div class="newsbody">
          <div class="newsimg"><img src="https://images.pexels.com/photos/974314/pexels-photo-974314.jpeg?auto=compress&cs=tinysrgb&w=600" style="height: 100%;width: 100%;" alt=""></div> 
          <div class="newspara"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia deserunt a beatae, eaque illo et nemo quasi totam ab accusamus magni accusantium earum rem laborum facere quae, dolorem ex.</p>
          <a href=""><button class="newsbtn">View more</button></a>
          </div>
      </div>

      
      {% endblock %}